## Exercícios

Link para Dataset: https://www.kaggle.com/datasets/matheusfreitag/gas-prices-in-brazil

In [2]:
import pandas as pd

## Neste projeto, trabalharemos com dois arquivos csvs separados, contendo informações sobre o preço da gasolina no Brasil. 

### 1. Carregue os conjuntos de dados "gasolina_2000+.csv" e "gasolina_2010+.csv" em dois DataFrames diferentes e combine-os em um único DataFrame.

In [3]:
gas2000 = pd.read_csv('datasets\gasolina_2000+.csv', index_col=0)
gas2010 = pd.read_csv('datasets\gasolina_2010+.csv', index_col=0)

gas = pd.concat([gas2000, gas2010],
axis=0)

gas

C:\Users\vitor\AppData\Local\Temp\ipykernel_5948\731181020.py:2: DtypeWarning: Columns (12,14,15,16,17,18) have mixed types. Specify dtype option on import or set low_memory=False.
  gas2010 = pd.read_csv('datasets\gasolina_2010+.csv', index_col=0)

,DATA INICIAL,DATA FINAL,REGIÃO,ESTADO,PRODUTO,NÚMERO DE POSTOS PESQUISADOS,UNIDADE DE MEDIDA,PREÇO MÉDIO REVENDA,DESVIO PADRÃO REVENDA,PREÇO MÍNIMO REVENDA,PREÇO MÁXIMO REVENDA,MARGEM MÉDIA REVENDA,COEF DE VARIAÇÃO REVENDA,PREÇO MÉDIO DISTRIBUIÇÃO,DESVIO PADRÃO DISTRIBUIÇÃO,PREÇO MÍNIMO DISTRIBUIÇÃO,PREÇO MÁXIMO DISTRIBUIÇÃO,COEF DE VARIAÇÃO DISTRIBUIÇÃO
0,2004-05-09,2004-05-15,CENTRO OESTE,DISTRITO FEDERAL,ETANOL HIDRATADO,127,R$/l,1.288,0.016,1.190,1.350,0.463,0.012,0.825,0.11,0.4201,0.9666,0.133
1,2004-05-09,2004-05-15,CENTRO OESTE,GOIAS,ETANOL HIDRATADO,387,R$/l,1.162,0.114,0.890,1.449,0.399,0.098,0.763,0.088,0.5013,1.05,0.115
2,2004-05-09,2004-05-15,CENTRO OESTE,MATO GROSSO,ETANOL HIDRATADO,192,R$/l,1.389,0.097,1.180,1.760,0.419,0.070,0.97,0.095,0.5614,1.161,0.098
3,2004-05-09,2004-05-15,CENTRO OESTE,MATO GROSSO DO SUL,ETANOL HIDRATADO,162,R$/l,1.262,0.070,1.090,1.509,0.432,0.055,0.83,0.119,0.5991,1.22242,0.143
4,2004-05-09,2004-05-15,NORDESTE,ALAGOAS,ETANOL HIDRATADO,103,R$/l,1.181,0.078,1.050,1.400,0.24,0.066,0.941,0.077,0.7441,1.0317,0.082
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
120818,2021-04-25,2021-05-01,NORTE,RORAIMA,OLEO DIESEL S10,12,R$/l,4.582,0.056,4.510,4.690,-99999.0,0.012,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0
120819,2021-04-25,2021-05-01,SUL,SANTA CATARINA,OLEO DIESEL S10,100,R$/l,4.141,0.187,3.838,4.739,-99999.0,0.045,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0
120820,2021-04-25,2021-05-01,SUDESTE,SAO PAULO,OLEO DIESEL S10,886,R$/l,4.246,0.216,3.769,5.199,-99999.0,0.051,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0
120821,2021-04-25,2021-05-01,NORDESTE,SERGIPE,OLEO DIESEL S10,33,R$/l,4.464,0.205,4.190,4.699,-99999.0,0.046,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0
120822,2021-04-25,2021-05-01,NORTE,TOCANTINS,OLEO DIESEL S10,18,R$/l,4.352,0.156,4.199,4.699,-99999.0,0.036,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0

### 2.Investigue as colunas e entenda o conjunto de dados usando o head() e info()

In [4]:
gas.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 120823 entries, 0 to 120822
Data columns (total 18 columns):
 #   Column                         Non-Null Count   Dtype
---  ------                         --------------   -----
 0   DATA INICIAL                   120823 non-null  object
 1   DATA FINAL                     120823 non-null  object
 2   REGIÃO                         120823 non-null  object
 3   ESTADO                         120823 non-null  object
 4   PRODUTO                        120823 non-null  object
 5   NÚMERO DE POSTOS PESQUISADOS   120823 non-null  int64
 6   UNIDADE DE MEDIDA              120823 non-null  object
 7   PREÇO MÉDIO REVENDA            120823 non-null  float64
 8   DESVIO PADRÃO REVENDA          120823 non-null  float64
 9   PREÇO MÍNIMO REVENDA           120823 non-null  float64
 10  PREÇO MÁXIMO REVENDA           120823 non-null  float64
 11  MARGEM MÉDIA REVENDA           120823 non-null  object
 12  COEF DE VARIAÇÃO REVENDA       120823 non-null  float64
 13  PREÇO MÉDIO DISTRIBUIÇÃO       120823 non-null  object
 14  DESVIO PADRÃO DISTRIBUIÇÃO     120823 non-null  object
 15  PREÇO MÍNIMO DISTRIBUIÇÃO      120823 non-null  object
 16  PREÇO MÁXIMO DISTRIBUIÇÃO      120823 non-null  object
 17  COEF DE VARIAÇÃO DISTRIBUIÇÃO  120823 non-null  object
dtypes: float64(5), int64(1), object(12)
memory usage: 17.5+ MB

### 3. Selecione a terceira entrada da coluna DATA INICIAL e verifique seu tipo.

In [5]:
print(gas['DATA INICIAL'][2])
type(gas['DATA INICIAL'][2])

2004-05-09

str

### 4. Você deve ter percebido que as colunas DATA INICIAL e DATA FINAL estão formatadas como string. Utilizando o método pd.to_datetime(), converta ambas colunas para Timestamp / Datetime.

In [6]:
gas['DATA INICIAL'] = pd.to_datetime(gas['DATA INICIAL'])
gas['DATA FINAL'] = pd.to_datetime(gas['DATA FINAL'])

### 5. Crie uma nova coluna para representar o ano e o mês(aaaa-mm), utilizando a coluna DATA FINAL como referência.

In [7]:
print(pd.DatetimeIndex(gas['DATA FINAL']).year)
pd.DatetimeIndex(gas['DATA FINAL']).month

Int64Index([2004, 2004, 2004, 2004, 2004, 2004, 2004, 2004, 2004, 2004,
            ...
            2021, 2021, 2021, 2021, 2021, 2021, 2021, 2021, 2021, 2021],
           dtype='int64', name='DATA FINAL', length=120823)

Int64Index([5, 5, 5, 5, 5, 5, 5, 5, 5, 5,
            ...
            5, 5, 5, 5, 5, 5, 5, 5, 5, 5],
           dtype='int64', name='DATA FINAL', length=120823)

In [8]:
# gas['DATA FINAL'].apply(lambda x: '{}'.format(x.year)) + gas['DATA FINAL'].apply(lambda x: '-{}'.format(x.month))

gas['ano-mes'] = gas['DATA FINAL'].apply(lambda x: '{}'.format(x.year)) + gas['DATA FINAL'].apply(lambda x: '-{:02d}'.format(x.month))
gas

,DATA INICIAL,DATA FINAL,REGIÃO,ESTADO,PRODUTO,NÚMERO DE POSTOS PESQUISADOS,UNIDADE DE MEDIDA,PREÇO MÉDIO REVENDA,DESVIO PADRÃO REVENDA,PREÇO MÍNIMO REVENDA,PREÇO MÁXIMO REVENDA,MARGEM MÉDIA REVENDA,COEF DE VARIAÇÃO REVENDA,PREÇO MÉDIO DISTRIBUIÇÃO,DESVIO PADRÃO DISTRIBUIÇÃO,PREÇO MÍNIMO DISTRIBUIÇÃO,PREÇO MÁXIMO DISTRIBUIÇÃO,COEF DE VARIAÇÃO DISTRIBUIÇÃO,ano-mes
0,2004-05-09,2004-05-15,CENTRO OESTE,DISTRITO FEDERAL,ETANOL HIDRATADO,127,R$/l,1.288,0.016,1.190,1.350,0.463,0.012,0.825,0.11,0.4201,0.9666,0.133,2004-05
1,2004-05-09,2004-05-15,CENTRO OESTE,GOIAS,ETANOL HIDRATADO,387,R$/l,1.162,0.114,0.890,1.449,0.399,0.098,0.763,0.088,0.5013,1.05,0.115,2004-05
2,2004-05-09,2004-05-15,CENTRO OESTE,MATO GROSSO,ETANOL HIDRATADO,192,R$/l,1.389,0.097,1.180,1.760,0.419,0.070,0.97,0.095,0.5614,1.161,0.098,2004-05
3,2004-05-09,2004-05-15,CENTRO OESTE,MATO GROSSO DO SUL,ETANOL HIDRATADO,162,R$/l,1.262,0.070,1.090,1.509,0.432,0.055,0.83,0.119,0.5991,1.22242,0.143,2004-05
4,2004-05-09,2004-05-15,NORDESTE,ALAGOAS,ETANOL HIDRATADO,103,R$/l,1.181,0.078,1.050,1.400,0.24,0.066,0.941,0.077,0.7441,1.0317,0.082,2004-05
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
120818,2021-04-25,2021-05-01,NORTE,RORAIMA,OLEO DIESEL S10,12,R$/l,4.582,0.056,4.510,4.690,-99999.0,0.012,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,2021-05
120819,2021-04-25,2021-05-01,SUL,SANTA CATARINA,OLEO DIESEL S10,100,R$/l,4.141,0.187,3.838,4.739,-99999.0,0.045,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,2021-05
120820,2021-04-25,2021-05-01,SUDESTE,SAO PAULO,OLEO DIESEL S10,886,R$/l,4.246,0.216,3.769,5.199,-99999.0,0.051,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,2021-05
120821,2021-04-25,2021-05-01,NORDESTE,SERGIPE,OLEO DIESEL S10,33,R$/l,4.464,0.205,4.190,4.699,-99999.0,0.046,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,2021-05
120822,2021-04-25,2021-05-01,NORTE,TOCANTINS,OLEO DIESEL S10,18,R$/l,4.352,0.156,4.199,4.699,-99999.0,0.036,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,2021-05

### 6. Utilizando o value_counts(), liste todos os tipos de produtos contidos na base de dados.

In [9]:
gas['PRODUTO'].value_counts()

GASOLINA COMUM        23570
GLP                   23561
ETANOL HIDRATADO      23440
ÓLEO DIESEL           21194
GNV                   14469
ÓLEO DIESEL S10        9113
OLEO DIESEL S10        2376
OLEO DIESEL            2351
GASOLINA ADITIVADA      749
Name: PRODUTO, dtype: int64

### 7. Filtre o DataFrame para obter apenas dados da 'GASOLINA COMUM'. Grave em uma nova variável.

In [10]:
gasolina = gas[gas['PRODUTO'] == 'GASOLINA COMUM']
gasolina

,DATA INICIAL,DATA FINAL,REGIÃO,ESTADO,PRODUTO,NÚMERO DE POSTOS PESQUISADOS,UNIDADE DE MEDIDA,PREÇO MÉDIO REVENDA,DESVIO PADRÃO REVENDA,PREÇO MÍNIMO REVENDA,PREÇO MÁXIMO REVENDA,MARGEM MÉDIA REVENDA,COEF DE VARIAÇÃO REVENDA,PREÇO MÉDIO DISTRIBUIÇÃO,DESVIO PADRÃO DISTRIBUIÇÃO,PREÇO MÍNIMO DISTRIBUIÇÃO,PREÇO MÁXIMO DISTRIBUIÇÃO,COEF DE VARIAÇÃO DISTRIBUIÇÃO,ano-mes
12064,2004-05-09,2004-05-15,CENTRO OESTE,DISTRITO FEDERAL,GASOLINA COMUM,128,R$/l,2.029,0.007,1.990,2.070,0.318,0.003,1.711,0.02,1.651,1.7427,0.012,2004-05
12065,2004-05-09,2004-05-15,CENTRO OESTE,GOIAS,GASOLINA COMUM,395,R$/l,2.025,0.062,1.850,2.220,0.296,0.031,1.729,0.036,1.6643,1.915,0.021,2004-05
12066,2004-05-09,2004-05-15,CENTRO OESTE,MATO GROSSO,GASOLINA COMUM,194,R$/l,2.358,0.066,2.000,2.540,0.472,0.028,1.886,0.068,1.75,2.0713,0.036,2004-05
12067,2004-05-09,2004-05-15,CENTRO OESTE,MATO GROSSO DO SUL,GASOLINA COMUM,166,R$/l,2.120,0.075,1.970,2.440,0.325,0.035,1.795,0.033,1.70701,1.9703,0.018,2004-05
12068,2004-05-09,2004-05-15,NORDESTE,ALAGOAS,GASOLINA COMUM,106,R$/l,2.090,0.034,2.000,2.159,0.35,0.016,1.74,0.042,1.6789,1.918,0.024,2004-05
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
120721,2021-04-25,2021-05-01,NORTE,RORAIMA,GASOLINA COMUM,12,R$/l,5.364,0.065,5.310,5.530,-99999.0,0.012,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,2021-05
120722,2021-04-25,2021-05-01,SUL,SANTA CATARINA,GASOLINA COMUM,119,R$/l,5.051,0.251,4.640,5.599,-99999.0,0.050,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,2021-05
120723,2021-04-25,2021-05-01,SUDESTE,SAO PAULO,GASOLINA COMUM,1187,R$/l,5.265,0.218,4.279,6.099,-99999.0,0.041,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,2021-05
120724,2021-04-25,2021-05-01,NORDESTE,SERGIPE,GASOLINA COMUM,34,R$/l,5.586,0.088,5.410,5.699,-99999.0,0.016,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,2021-05
120725,2021-04-25,2021-05-01,NORTE,TOCANTINS,GASOLINA COMUM,20,R$/l,5.751,0.160,5.578,6.119,-99999.0,0.028,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,2021-05

### 8. Qual o preço médio de revenda da gasolina em agosto de 2008?

In [11]:
# gasolina['PREÇO MÉDIO REVENDA'].mean()

# gasolina['PREÇO MÉDIO REVENDA'][gasolina['ano-mes'] == '2008-08']

'R$ '+str(round(gasolina['PREÇO MÉDIO REVENDA'][gasolina['ano-mes'] == '2008-08'].mean(), 3))

'R$ 2.601'

### 9. Qual o preço médio de revenda da gasolina em maio de 2014 em São Paulo?

In [12]:
gasolina['PREÇO MÉDIO REVENDA'][(gasolina['ano-mes'] == '2008-08') & (gasolina['ESTADO'] == 'SAO PAULO')].mean()

2.4046

### 10. Você conseguiria descobrir em qual(quais) estado(s) a gasolina ultrapassou a barreira dos R$ 5,00? E quando isso ocorreu?

In [13]:
gasolina[
    ['ano-mes', 'ESTADO', 'PREÇO MÁXIMO REVENDA']
][gasolina['PREÇO MÁXIMO REVENDA'] > 5].sort_values('PREÇO MÁXIMO REVENDA', ascending=False)

        ano-mes             ESTADO  PREÇO MÁXIMO REVENDA
120699  2021-05               ACRE                 6.890
119629  2021-03               ACRE                 6.700
119449  2021-03               ACRE                 6.700
119807  2021-03               ACRE                 6.700
119469  2021-03  RIO GRANDE DO SUL                 6.699
...         ...                ...                   ...
111989  2020-02         PERNAMBUCO                 5.006
112744  2020-04         PERNAMBUCO                 5.006
112593  2020-03         PERNAMBUCO                 5.006
112140  2020-03         PERNAMBUCO                 5.006
117864  2021-01     ESPIRITO SANTO                 5.001

[1599 rows x 3 columns]

### 11. Qual a média de preço dos estados da região sul em 2012?

In [14]:
# gasolina['DATA FINAL'].apply(lambda x: '{}'.format(x.year))

round(gasolina['PREÇO MÉDIO REVENDA']
[(gasolina['REGIÃO'] == 'SUL') & (gasolina['DATA FINAL'].apply(lambda x: '{}'.format(x.year)) == '2012')].mean(), 2)

2.72

### 12. Você conseguiria obter uma tabela contendo a variação percentual ano a ano para o estado do Rio de Janeiro?

In [15]:
gas_rj = gas[gas['ESTADO'] == 'RIO DE JANEIRO']
gas_rj['mes'] = gas_rj['DATA FINAL'].apply(lambda x: '{}'.format(x.month))

gas_rj = gas_rj.groupby('ano-mes')[['PREÇO MÉDIO REVENDA', 'mes']].last()
gas_rj

C:\Users\vitor\AppData\Local\Temp\ipykernel_5948\2901845631.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  gas_rj['mes'] = gas_rj['DATA FINAL'].apply(lambda x: '{}'.format(x.month))

         PREÇO MÉDIO REVENDA mes
ano-mes
2004-05                1.368   5
2004-06                1.460   6
2004-07                1.461   7
2004-08                1.465   8
2004-09                1.465   9
...                      ...  ..
2021-01                3.802   1
2021-02                4.280   2
2021-03                4.375   3
2021-04                4.281   4
2021-05                4.302   5

[204 rows x 2 columns]

shift(n) desloca os valores do dataframe em n linhas para baixo

In [16]:
gas_rj[gas_rj['mes'] == '12'].shift(1)

         PREÇO MÉDIO REVENDA   mes
ano-mes
2004-12                  NaN  None
2005-12                1.621    12
2006-12                1.821    12
2007-12                1.805    12
2008-12                1.818    12
2009-12                2.081    12
2010-12                1.978    12
2011-12                1.982    12
2012-12                2.007    12
2013-12                2.120    12
2014-12                1.673    12
2015-12                1.803    12
2016-12                2.115    12
2017-12                2.067    12
2018-12                2.271    12
2019-12                3.074    12
2020-12                3.841    12

In [17]:
round(gas_rj[gas_rj['mes'] == '12']['PREÇO MÉDIO REVENDA'] / gas_rj[gas_rj['mes'] == '12']['PREÇO MÉDIO REVENDA'].shift(1) - 1, 5)*100

ano-mes
2004-12       NaN
2005-12    12.338
2006-12    -0.879
2007-12     0.720
2008-12    14.466
2009-12    -4.950
2010-12     0.202
2011-12     1.261
2012-12     5.630
2013-12   -21.085
2014-12     7.770
2015-12    17.304
2016-12    -2.270
2017-12     9.869
2018-12    35.359
2019-12    24.951
2020-12    -1.484
Name: PREÇO MÉDIO REVENDA, dtype: float64

Aplicando média móvel com m = 3 -> rolling(m).mean()

In [18]:
((gas_rj[gas_rj['mes'] == '12']['PREÇO MÉDIO REVENDA'] / gas_rj[gas_rj['mes'] == '12']['PREÇO MÉDIO REVENDA'].shift(1) - 1)*100).rolling(3).mean()

ano-mes
2004-12          NaN
2005-12          NaN
2006-12          NaN
2007-12     4.059882
2008-12     4.769343
2009-12     3.412375
2010-12     3.239709
2011-12    -1.161989
2012-12     2.364624
2013-12    -4.731087
2014-12    -2.561380
2015-12     1.330020
2016-12     7.601820
2017-12     8.301455
2018-12    14.319582
2019-12    23.393151
2020-12    19.608696
Name: PREÇO MÉDIO REVENDA, dtype: float64

### DESAFIO: Crie uma tabela contendo uma serie temporal com a diferença absoluta e percentual entre os valores mais baratos e caros. Apresente também ao lado os estados na qual os maiores e menores preços foram registrados.

In [31]:
gas2 = gas.copy()
gas2['mes'] = gas2['DATA FINAL'].apply(lambda x: '{}'.format(x.month))

In [32]:
gas2 = gas2.groupby(['ano-mes', 'ESTADO'])[[
    'ano-mes', 'ESTADO',
    'PREÇO MÍNIMO REVENDA', 'PREÇO MÁXIMO REVENDA'
]].mean()

gas2.reset_index(inplace=True)
gas2

C:\Users\vitor\AppData\Local\Temp\ipykernel_5948\291846789.py:4: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  ]].mean()

      ano-mes          ESTADO  PREÇO MÍNIMO REVENDA  PREÇO MÁXIMO REVENDA
0     2004-05            ACRE              9.809167             12.932500
1     2004-05         ALAGOAS              6.762067              7.817400
2     2004-05           AMAPA              8.610000             11.579167
3     2004-05        AMAZONAS              8.224917              9.810000
4     2004-05           BAHIA              6.476067              9.024200
...       ...             ...                   ...                   ...
5503  2021-05         RORAIMA             20.353333             21.858333
5504  2021-05  SANTA CATARINA             15.152143             19.071143
5505  2021-05       SAO PAULO             12.899143             18.868857
5506  2021-05         SERGIPE             15.248286             16.963429
5507  2021-05       TOCANTINS             17.381000             22.419167

[5508 rows x 4 columns]

In [39]:
gas2.sort_values(['ESTADO', 'ano-mes']).to_csv('gas2.csv', sep=',')
gas2

      ano-mes          ESTADO  PREÇO MÍNIMO REVENDA  PREÇO MÁXIMO REVENDA
0     2004-05            ACRE              9.809167             12.932500
1     2004-05         ALAGOAS              6.762067              7.817400
2     2004-05           AMAPA              8.610000             11.579167
3     2004-05        AMAZONAS              8.224917              9.810000
4     2004-05           BAHIA              6.476067              9.024200
...       ...             ...                   ...                   ...
5503  2021-05         RORAIMA             20.353333             21.858333
5504  2021-05  SANTA CATARINA             15.152143             19.071143
5505  2021-05       SAO PAULO             12.899143             18.868857
5506  2021-05         SERGIPE             15.248286             16.963429
5507  2021-05       TOCANTINS             17.381000             22.419167

[5508 rows x 4 columns]